/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
}

body, div, ul {
  margin: 0;
  padding: 0;
}

body {
  background-color: #e9e6e1;
  display: flex;
  font-family: sans-serif;
  min-height: 100vh;
  padding: 1em;
}

app-root {
  background-color: rgba(187, 0, 44, 0.5);
  width: 50%;
}

elm-root {
  background-color: rgba(108, 182, 206, 0.5);
  width: 50%;
}

hr.divider {
  border: none;
  margin: 0.5em;
}

:root {
  --em: 1em;
  --radius: 3px;
}

.u-tac {
  text-align: center;
}
.u-tal {
  text-align: left;
}
.u-tar {
  text-align: right;
}

.u-ml1, .u-mh1 {
  margin-left: var(--em);
}
.u-mr1, .u-mh1 {
  margin-right: var(--em);
}

.u-pl1, .u-ph1 {
  padding-left: var(--em);
}
.u-pr1, .u-ph1 {
  padding-right: var(--em);
}

.u-dfx {
  display: flex;
}

.u-fx1 {
  flex: 1 1 auto;
}
.u-fx0 {
  flex: 0 0 auto;
}

.dot {
  border: 1px solid black;
  border-radius: 50%;
  display: inline-block;
  height: var(--em);
  width: var(--em);
}
.dot:not(:last-child) {
  margin-right: calc(var(--em) / 2);
}

.container-worker {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5); 
  padding: 0.5em 0 1em 0;
}

input, button {
  padding: 4px 8px;
  border: none;
  border-radius: var(--radius);
}

button:hover:not(:disabled) {
  background-color: rgba(0, 0, 0, 0.25); 
  color: white;
  cursor: pointer;
  outline: none;
}
